<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-xs-12 col-sm-9">

			<%= image_tag asset_path('about1.jpg'), class:'aboutimage' %>

			<h3><一般ユーザー></h3>

			<p>①このSNSを通して地方の事をたくさん知ろう</p>

			<p>②実際に足を運んで地方特有のグルメ・スイーツ・歴史・風景を楽しもう</p>

			<p>③良かった点や思った事をコメントしたり、５段階レビューをして町おこし・地域活性化に貢献しよう</p>

			<h4>★観光時の注意点</h4>

			<p>・ゴミは適切に取り扱いましょう
			ポイ捨てが増えると綺麗な街並みが壊されてしまいます</p>
			<p>・無断駐車はやめましょう
			近隣住民に迷惑がかかります</p>

			<p>〜マナーやモラルを守って正しく旅行や観光を楽しみましょう〜</p><br><br>

			<h3><法人・団体ユーザー></h3>

			<p>①自分たちの町のおすすめできるところ、ぜひきてもらいたい場所をアピール（スイーツであったり、フォトジェニックな場所だと◎）</p>

			<p>②一般ユーザーに来てもらう</p>

			<p>③来てもらったユーザーにレビューしてもらおう</p>

			<h4>★投稿時の注意点</h4>

			<p>・投稿をされる時は目的地への行き方や駐車場・コインパーキングの有無などを記載しておきましょう（路上駐車防止）</p>

			<p>・食べ歩きなどをアピールする際にはゴミ箱がどこにあるかを記載しておくとポイ捨てが減ります</p>

			<p>・仮設ベンチやテーブル、ゴミ箱を設置したり工夫をすることでたくさんの人が来てくれるかもしれません</p>
		</div>
	</div>
</div>
