<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
			<% @posts.each do |post| %>
			<div style="text-align:center;">
				<%= link_to post_path(post.id) do %>
			        <%= post.title %><br>
				<% end %>
		        <%#= attachment_image_tag post.post_images, :image, :fill, 200, 200, fallback: "profile1.jpg" %>
				<%= image_tag 'profile1.jpg', size: '200x200' %><br>
				    (<%= post.liked_users.count %>)いいね
			</div>
<!-- コメント、いいね -->

			<% end %>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>