<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
<div id="post_lists">
<%= render 'posts/list', posts: @posts %>
</div>
<div class="more"><%= link_to_next_page @posts, 'もっと見る', remote: true, id: 'view_more' %></div>


		</div>
		<div class="col-xs-3">
		</div>
	</div>
</div>